@page "/profile"

<h3>Profile</h3>

<div class="row">
    <div class="col-md-3">
        <img class="profile-picture img-fluid" src="https://gachax.com/anime/wp-content/uploads/sites/29/2023/06/cute-anime-girl-pfp-profile-pictures-chibi.png" />
        <h1>&#64;dustyshaw</h1>
    </div>
    <div class="col-md-9">
        <div class="calendar" style="height: 500px; background-color: whitesmoke;">
            <Calendar />
        </div>
        <div class="updates-container">
            <h3>My Updates</h3>
            <div class="post shadow p-5 my-4" style="border-radius: 10px; ">
                <div class="row">
                    <div class="col-md-2">
                        <a href="">
                            <img class="img-fluid" alt="The Count of Monte Cristo" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTNz1t3M3KA7VOhn81UiIfGr3y22hY5cLfq8buLh2TgfZv1nwMRtJTcjPvkwDLFur5Hs7V6TimeDnoK86v65qi_cxMmZmjVRPq38APdzNba" />
                        </a>
                        <h5>The Count of Monte Cristo</h5>
                        <p>Alexendre Dumas</p>
                    </div>
                    <div class="col-md-10">
                        <h3 class="username">UserName</h3>
                        <div class="progress-ds my-4">
                            <div class="progress-ds-bar" role="progressbar" style="--width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>&#9825;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
