@rendermode InteractiveServer
<nav class="navbar navbar-expand-md navbar-dark mb-4">
    <div class="container-fluid">
        <!-- Top navbar -->
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="MyBooks">
                        My Books
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Stats">
                        Stats
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Recommendations">
                        Recommendations
                    </NavLink>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" style="padding-right: 20px;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search books, authors, users..." aria-label="Search">
            </form>
        </div>

        <!-- Right side dropdown menu -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" @onclick="ToggleDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="@DropdownClass dropdown-menu" aria-labelledby="dropdownMenuButton" style="right: 0; left: auto;">
                <li><a class="dropdown-item" href="Profile">Profile</a></li>
                <li><a class="dropdown-item" href="#">My Friends</a></li>
                <li><a class="dropdown-item" href="#">Set Challenges</a></li>
                <li><a class="dropdown-item" href="Settings">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private bool isDropdownOpen = false;

    private string NavBarCssClass => collapseNavMenu ? "" : "show";
    private string DropdownClass => isDropdownOpen ? "dropdown-menu show" : "dropdown-menu";

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }
}
