<nav class="navbar navbar-expand-md navbar-dark mb-4">
    <div class="container-fluid">
        <!-- Top navbar -->
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="mybooks">
                        <span class="oi oi-plus" aria-hidden="true"></span> My Books
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="stats">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Stats
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="recommendations">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Recommendations
                    </NavLink>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" style="padding-right: 20px;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search books, authors, users..." aria-label="Search">
            </form>
        </div>

        <!-- Right side dropdown menu -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" @onclick="ToggleDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@DropdownClass">
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">My Friends</a></li>
                    <li><a class="dropdown-item" href="#">Set Challenges</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";

    private bool isDropdownOpen = false;

    private string DropdownClass => isDropdownOpen ? "dropdown-menu show" : "dropdown-menu";

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
        StateHasChanged(); // Notify Blazor that the UI should be updated
    }
}
